{% extends 'auth/base.html' %}
{% block page_content %}
<div class="login-box">
        <div class="logo">
            <a href="javascript:void(0);">VendingPoint<b>Admin</b></a>
            <small>Admin Console - Member Login</small>
        </div>
        <div class="card">
            <div class="body">
                <form id="sign_in" method="POST" action="">
                    {{ form.hidden_tag() }}
                    <div class="msg">Sign in to start your session</div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            {{ form.email(class_="form-control",placeholder="Username",autofocus=True)}}
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            {{ form.password(class_="form-control",placeholder="Password")}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8 p-t-5">
                            {{ form.remember_me(id="rememberme", class_="filled-in chk-col-pink")}}
                            <label for="rememberme">Remember Me</label>
                        </div>
                        <div class="col-xs-4">
                            {{ form.submit(class_="btn btn-block bg-pink waves-effect")}}
                        </div>
                    </div>
                    <div class="row m-t-15 m-b--20">

                        <div class="col-xs-6 align-right">
                            <a href="{{ url_for('auth.reset_password')}}">Forgot Password?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}