{% extends "base.html" %}
{% block styles %}
{{ super() }}
<!-- JQuery DataTable Css -->
<link href="{{ url_for('static', filename='assets/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css') }}"
      rel="stylesheet">
{% endblock %}
{% block main_nav %}active{% endblock %}
{% block page_content %}
<div class="container-fluid">
    <div class="block-header">
        <h2>DASHBOARD</h2>
    </div>
    <!-- Exportable Table -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        Mpesa Messages <span class="badge bg-cyan">New {{ new.count() }}</span><small>Incoming Messages will appear here</small>

                    </h2>
                    <ul class="header-dropdown m-r-0">
                        <li>
                            <a href="javascript:void(0);">
                                <i class="material-icons">info_outline</i>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <i class="material-icons">help_outline</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-hover dataTable js-exportable">
                            <thead>
                            <tr>
                                <th>TransactionID</th>
                                <th>Status</th>
                                <th>PhoneNumber</th>
                                <th>Description</th>
                                <th>date received</th>
                                <th>date processed</th>
                                <th>processed by</th>
                                <th>Customer</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>TransactionID</th>
                                <th>Status</th>
                                <th>PhoneNumber</th>
                                <th>description</th>
                                <th>date received</th>
                                <th>date processed</th>
                                <th>processed by</th>
                                <th>Customer</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            {% for message in messages %}
                            {% with msg = message.to_dict() %}
                            <tr>
                                <td>{{ msg.transactionID }}</td>
                                <td><span
                                        class="badge {% if msg.status.lower() == 'confirmed' %} bg-orange {% elif msg.status.lower() == 'failed' %} bg-red {% elif msg.status.lower() == 'processed' %} bg-green {% endif %}">{{ msg.status }}</span>
                                </td>
                                <td>{{ msg.phoneNumber }}</td>
                                <td>{{ msg.description }}</td>
                                <td>{{ message.timestamp}}</td>
                                <td>{% if message.processed_on == None %}
                                    <span class="badge bg-blue">pending</span>
                                    {% else %}
                                    {{ message.processed_on }}
                                {% endif %}
                                </td>
                                <td><span class="badge bg-blue">pending</span></td>
                                <td>{% if message.customer %}{{ "{} {}".format(message.customer.name, message.customer.phoneNumber) }}{% else %}
                                    <span class="badge bg-blue">pending</span>
                                {% endif %}
                                </td>

                            </tr>
                            {% endwith %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Exportable Table -->

</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<!-- Jquery DataTable Plugin Js -->
<script src="{{ url_for('static', filename='assets/plugins/jquery-datatable/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='assets/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='assets/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/plugins/jquery-datatable/extensions/export/buttons.flash.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/plugins/jquery-datatable/extensions/export/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/plugins/jquery-datatable/extensions/export/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/plugins/jquery-datatable/extensions/export/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='assets/plugins/jquery-datatable/extensions/export/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/plugins/jquery-datatable/extensions/export/buttons.print.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/pages/tables/jquery-datatable.js') }}"></script>
{% endblock %}